:root {
  --width-container: 60ch;
}

.container {
  width: min(var(--width-container), calc(100% - 4rem));
  margin-inline: auto;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  padding-top: 2ch;
  font-size: 16px;
}

.input-harga,
.input-berat {
  font-size: 1.125rem;
  background-color: #aaa;
  margin-bottom: 2.5rem;
  width: 100%;

  & label {
    position: relative;
    display: block;
    width: 100%;
  }

  & span {
    margin-left: 2ch;
    position: relative;
    z-index: 2;
  }

  & input {
    z-index: 1;
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: end;
    padding: 4px 16px;
    padding-left: 16ch;
    outline: none;
    border: 2px solid #000;
    border-radius: 8px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
}

#show-harga {
  display: block;
  margin-bottom: 2.5rem;
  text-align: center;

  span.style-currency {
    color: #aaa;
  }

  span.nominal {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

.short-info {
  position: absolute;
  bottom: 1rem;
  color: #888;
  font-size: 12px;
  font-weight: 100;
  user-select: none;
}

.btn-open-modal-wrap {
  margin-bottom: 1rem;
}

.btn-open-modal {
  display: flex;
  justify-content: center;
  padding-inline: 18px 9px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: #eee;
  }
}

.tiga-titik::after {
  content: '\2807';
  font-size: 2rem;
}

.setting-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 99;
  overflow: auto;
}

.setting-form {
  width: min(var(--width-container), calc(100% - 4rem));
  margin-inline: auto;
  padding-top: 2ch;
  min-height: 100%;

  & > :first-child {
    margin-bottom: 2rem;
  }

  & > form {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    & > *:nth-child(even) {
      margin-bottom: 1rem;
    }

    & input,
    & select {
      padding: 2px 8px;
    }
  }
}

.btn-close-wrap {
  display: flex;
  justify-content: end;
}

button.btn-close-modal {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 0px 8px;

  &:after {
    display: inline-block;
    content: '\00d7'; /* This will render the 'X' */
    font-size: 32px;
  }
}

button.btn-save {
  padding: 4px 32px;
}
