:root {
  --width-container: 60ch;
}

.container {
  width: min(var(--width-container), calc(100% - 4rem));
  margin-inline: auto;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  padding-block: 2ch;
  font-size: 16px;
}

.input-harga,
.input-berat {
  font-size: 1.125rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.input-harga > label,
.input-berat > label {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-harga span,
.input-berat span {
  margin-left: 2ch;
  position: relative;
  z-index: 2;
}

.input-harga input,
.input-berat input {
  z-index: 1;
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: end;
  padding: 4px 16px;
  padding-left: 100px;
  outline: none;
  border: 2px solid #000;
  border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

#show-harga {
  display: block;
  margin-bottom: 2.5rem;
  text-align: center;
}

#show-harga span.style-currency {
  color: #aaa;
}

#show-harga span.nominal {
  font-size: 2.5rem;
  font-weight: 500;
  overflow-wrap: break-word;
}

.short-info {
  position: absolute;
  bottom: 1rem;
  color: #888;
  font-size: 12px;
  font-weight: 100;
  user-select: none;
}

.btn-open-modal-wrap {
  margin-bottom: 1rem;
}

.btn-open-modal {
  padding: 20px;
  background-color: #fff;
  border: none;
  position: relative;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

.btn-open-modal .tiga-titik {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  transform: rotate(90deg);
}

.btn-open-modal .tiga-titik:before,
.btn-open-modal .tiga-titik:after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
}

.btn-open-modal .tiga-titik:before {
  left: 8px;
}

.btn-open-modal .tiga-titik:after {
  right: 8px;
}

.btn-open-modal:hover {
  background-color: #eee;
}

.setting-modal {
  display: none;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
  overflow: auto;
}

.setting-form {
  width: min(var(--width-container), calc(100% - 4rem));
  margin-inline: auto;
  padding-block: 2ch;
  min-height: 100%;
}

.setting-form > form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.setting-form > form > *:nth-child(even) {
  margin-bottom: 1rem;
}

.setting-form select,
.setting-form input {
  padding: 4px 12px;
  outline: none;
  border: 1px solid #000;
  border-radius: 4px;
}

.btn-close-wrap {
  display: flex;
  justify-content: end;
  margin-bottom: 4rem;
}

.btn-close-modal {
  background-color: #fff;
  border: none;
  position: relative;
  padding: 14px;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

.btn-close-modal .silang:before,
.btn-close-modal .silang:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 18px;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
}

.btn-close-modal .silang:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn-close-modal .silang:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-close-modal:hover {
  background-color: #eee;
}

button.btn-save {
  color: royalblue;
  font-weight: 500;
  padding: 6px 32px;
  border: 1px solid royalblue;
  border-radius: 32px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: #fff;
}

button.btn-save:hover {
  background-color: #eee;
}
